<!DOCTYPE html>
<html>
  <!-- Include the dependencies file -->
  @{
    var pageName = "none";
    @RenderPage("dependencies.cshtml", pageName);
  }  

  <body>
    <!-- Include the navigation bar file -->
    @RenderPage("navigation.cshtml", pageName);
    
    <!-- Dummy Data -->
    <script>
      //Relocate to booking page for now
      window.location.replace("booking.cshtml");
    </script>

  </body>
</html>