<html>
<head>

  <!-- COMMON DEPENDENCIES -->
  <!-- Preference Variables -->
  <script type="text/javascript">
    var pref_zoom = @Session["pref-zoom"];
    var pref_colour = @Session["pref-colour"];
  </script>
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="Shared/main-style.css"/>
  <link rel="stylesheet" type="text/css" href="Shared/font-awesome.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Shared/jquery-ui.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- Javascript -->
  <script src="Scripts/main-script.js" type="text/javascript"></script>
  <!-- WYSIWYG Notepad Editor -->
  <link rel="stylesheet" href="Shared/trumbowyg/ui/trumbowyg.min.css">
  <script src="Shared/trumbowyg/trumbowyg.min.js"></script>
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link href="Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <!-- PAGE SPECIFIC -->
  @{ var pgName = @Page[0]; }

  @if (pgName == "booking") {
    <link rel="stylesheet" type="text/css" href="Shared/booking-page-style.css"/>
    <script src="Scripts/booking-page-script.js" type="text/javascript"></script>
    <script src="Scripts/booking-page-script2.js" type="text/javascript"></script>
    <title>Team04 Room Booking</title>
  } 
  else if (pgName == "allocations") {
    <link rel="stylesheet" type="text/css" href="Shared/allocations-page-style.css"/>
    <script src="Scripts/allocations-page-script.js" type="text/javascript"></script>
    <title>Team04 Room Allocations</title>
  }
  else if (pgName == "roominfo") {
    <link rel="stylesheet" type="text/css" href="Shared/roominfo-page-style.css"/>
    <script src="Scripts/roominfo-page-script.js" type="text/javascript"></script>
    <title>Team04 Room Information</title>
  }
  else if (pgName == "moduleinfo") {
    <link rel="stylesheet" type="text/css" href="Shared/moduleinfo-page-style.css"/>
    <script src="Scripts/moduleinfo-page-script.js" type="text/javascript"></script>
    <title>Team04 Module Information</title>
  }
  else if (pgName == "modulemanager") {
    <link rel="stylesheet" type="text/css" href="Shared/modulemanager-page-style.css"/>
    <script src="Scripts/modulemanager-page-script.js" type="text/javascript"></script>
    <title>Team04 Module Management</title> 
  }
  else {
    <title>Team04 Timetabling Website</title>
  }

</head>
</html>