@{
  var db = Database.Open("SQLServerConnectionString");
  var auth = true;

  @functions {
    //Retrieve and Sanitize inputs from the Client-Side 
    dynamic input(dynamic queryid) {
      var id = Request.Params[queryid];
      char[] invalidChars = { ';', '<', '>', '-', '{', '}', '[', ']' };
      if(id != null) {
        id = String.Join("", id.Split(invalidChars));
        return id;
      }
      else {
        Response.Write("You submitted a missing parameter. Contact an admin.");
        return null;
      }
    }
  }
  
  if (!String.IsNullOrEmpty(Request.Params["user"]) && !String.IsNullOrEmpty(Request.Params["password"])) { //If ID and Password (from UI) are set
    //Verify Correct Login
    var postUser = input("user");
    var postPassword = input("password");
    var SQL = "SELECT * FROM dbo.department WHERE department_code = '"+postUser+"' AND department_password = '"+postPassword+"'";
    var res = db.Query(SQL);

    if (res.Count == 1) { //If login details are valid
      Session["dept-code"] = res[0]["department_code"];
      Session["dept-name"] = res[0]["department_name"];
      Session["dept-user"] = res[0]["department_user"];
      Session["pref-zoom"] = 0;
      Session["pref-colour"] = 0;
      auth = true;

      Response.Redirect("booking.cshtml");
    }
    else {
      auth = false;
    }
  }
}
<!DOCTYPE html>
<html>
  <head>
    <title>Team12 - Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="Shared/main-style.css"/>
    <link rel="stylesheet" type="text/css" href="Shared/login-page-style.css"/>
    <link rel="stylesheet" type="text/css" href="Shared/font-awesome.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Javascript -->
    <script src="Scripts/main-script.js" type="text/javascript"></script>
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header">
      <div id="header-topSection">
        <!-- Logo -->
        <img src="images/lu-logo-white.png" alt="LU Logo White" id="lu-logo">
        <!-- Heading -->
        <h2 id="main-heading">Departmental Timetabling Utility</h2>
        <!-- Accessibility -->
        <div id="accessibility-options"></div>
      </div>
      <div id="header-navigation">
      </div>
    </div>
    <div id="page-content-container">
      <br/>
      <center>
        <div class="card-container" style="padding-top:30px;padding-bottom:30px;">
          <h2>Enter your credentials</h2><br>
          <section>
            <form method="post" action="login.cshtml" name='login'>
              <input type="text" name="user" placeholder="username" class="login-input form-control"><br>
              <input type="password" name="password" placeholder="password" class="login-input form-control">
              <br/>
              @if (!auth) { <!-- If AUTH is false -->
                <div id="invalid-login" style="color:red;"><i class="fa fa-times"></i> Oops! Invalid password!</div><br/>
              }
              <input type="submit" name='submit' value="Log in" class="login-submit" style='border:none;'>
            </form>
          </section>
        </div>
      </center>
    </div>
  </body>
</html>