@{
  //Manage User Session
  if (Session["dept-code"] != null) {
    var db = Database.Open("SQLServerConnectionString");
    var user = Session["dept-code"];
    var SQL = "SELECT * FROM dbo.department WHERE department_code = '"+user+"'";
    var dbres = db.Query(SQL);
    if (dbres.Count() != 1) {
      Session.Abandon();
      Response.Redirect("login.cshtml");
    } 
  } 
  else {
    Session.Abandon();
    Response.Redirect("login.cshtml");
  }  
}
<!DOCTYPE html>
<html>
  <!-- Include the dependencies file -->
  @{
    var pageName = "modulemanager";
    @RenderPage("dependencies.cshtml", pageName);
  }  

  <body>
    <!-- Include the navigation bar file -->
    @RenderPage("navigation.cshtml", pageName);
    
    <!-- MAIN CONTENT -->
    <div id="page-content-container">

      <div id="createmodule-container" class="card-container">
        <div class='form-cont' id="form-createmodule">
          <h3 id="create-mod-title">Create Module</h3>
          <div id="mod-details" class="form-div">
            <span class="form-label">Department Code:</span>
            <input type='text' placeholder='e.g. CO' id='mod-depcode' class="form-control" disabled="disabled" value='@Session["dept-code"]' />
              <br/>
              <br/>
            <span class="form-label">Module Part:</span>
            <input type='text' placeholder='e.g. B' id='mod-part' class="form-control" />
              <br/>
              <br/>
            <span class="form-label">Module Code:</span>
            <input type='text' placeholder='e.g. 290' id='mod-code' class="form-control" />
              <br/>          
              <br/>
            <span class="form-label">Module Title:</span>
            <input type='text' placeholder='e.g. Team Projects' id='mod-title' class="form-control" />  
              <br/>
              <br/>        
            <span class="form-label">Module Lecturer:</span>
            <input type='text' placeholder='e.g. Ray Dawson' id='lecturer1' class="form-control" />
              <br/>
              <br/>
            <span class="form-label">Module Lecturer:</span>
            <input type='text' placeholder='e.g. Andre Schappo' id='lecturer2' class="form-control" />
              <br/>
              <br/>
            <button id='create-mod' class='btn ok'>CREATE</button>
          </div>
        </div>
      </div>

      <div id="editdeletemodule-container" class="card-container">
        <div id="modify-mod-div">
          <h3>Modify Module</h3>
            
          <div class="editmodule-blocks" id="upd-block">
            <span class="form-label">Module Search:</span>
            <input type='text' placeholder='e.g. COB290 Team Projects' id='input-moduleInfo' class="form-control"/>
              <br/>
              <br/>
            <p id="edit-title">Edit Module:</p>
                <span class="form-label">Module Code:</span>
                <input type='text' placeholder='Module Code' id='modupd-code' class="form-control form-edit-input" disabled="disabled"/>
                <br/>
                <span class="form-label">Module Title:</span>
                <input type='text' placeholder='Module Title' id='modupd-title' class="form-control form-edit-input"/>
                <br/>            
                <span class="form-label">Module Lecturer:</span>
                <input type='text' placeholder='e.g. Ray Dawson' id='lecturer1-upd' class="form-control form-edit-input"/>
                <br/>
                <span class="form-label">Module Lecturer:</span>
                <input type='text' placeholder='e.g. Andre Schappo' id='lecturer2-upd' class="form-control form-edit-input"/>
                <br/>
                <br/>
                <div id="mod-change-btns">
                    <div class="inner-btns"><button id='update-mod' class='btn ok'>UPDATE</button></div>
                    <div class="inner-btns"><button id='del-mod' class='btn del'>DELETE</button></div>
                </div>
           </div>
        </div>
      </div>
    </div>
  </body>
</html>