@{
  //Manage User Session
  if (Session["dept-code"] != null) {
    var db = Database.Open("SQLServerConnectionString");
    var user = Session["dept-code"];
    var SQL = "SELECT * FROM dbo.department WHERE department_code = '"+user+"'";
    var dbres = db.Query(SQL);
    if (dbres.Count() != 1) {
      Session.Abandon();
      Response.Redirect("login.cshtml");
    } 
  } 
  else {
    Session.Abandon();
    Response.Redirect("login.cshtml");
  }  
}

<!DOCTYPE html>
<html>
  <!-- Include the dependencies file -->
  @{
    var pageName = "roominfo";
    @RenderPage("dependencies.cshtml", pageName);
  }  

  <body>
    <!-- Include the navigation bar file -->
    @RenderPage("navigation.cshtml", pageName);
    
    
    <!-- MAIN CONTENT -->
    <div id="page-content-container">
      <div class="tab-content card-container">
        <div class="roomSearch-header roomSearch-header-bottomBorder"><span
              id="roomSearch-title">Room Search</span>
            <span id="roomSearch-reset"><i class="fa fa-repeat fa-flip-horizontal"></i> Reset Requirements</span>
          </div>
          <div class="roomSearch-container">
            <form class="form-inline mo_info">
              <div class="section" id="form-building-info">
                <div class="form-group">
                  <label>Park:</label>
                  <select id="select-park" class="form-dropdown-medium">
                    <option>Any</option>
                    <option>Central</option>
                    <option>East</option>
                    <option>West</option>
                    <option>London</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label>Building:</label>
                  <select id="select-building" class="form-dropdown-xlarge"></select>
                </div>
                <br/>
                <div class="form-group">
                  <label>Private rooms:</label>
                  <select id="select-privaterooms" class="form-dropdown-medium">
                    <option>Include</option>
                    <option>Exclude</option>
                    <option>Only</option>
                  </select>
                </div>
                <div class="form-group">
                  <label style="width:90px;margin-left:20px;">Room use:</label>
                  <select id="select-roomuse" class="form-dropdown-medium">
                    <option>Lecture</option>
                    <option>Lab</option>
                    <option>Seminar</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label>Students:</label>
                  <input type="text" name="name" class="form-control" id="form-capacity" placeholder="eg. 150">
                </div>
              </div>
              <div class="section" id="form-specific-reqs">
                <h2 class="mt0">Specific Requirements</h2>
                <ul id="select-specificreqs" class="spe_list">
                  <li><span id="facility-PASystem">PA System</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-RadioMic">Radio Mic</span></li>
                  <li><span id="facility-Wheelchair">Wheelchair Access</span></li>
                  <li><span id="facility-Computer">Computer</span></li>
                  <li><span id="facility-Projector">Projector</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-DualProjector">Dual Projector</span></li>
                  <li><span id="facility-InductionLoop">Induction Loop</span></li>
                  <li><span id="facility-DVD">DVD Player</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-BluRay">BluRay</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-VHS">VHS</span></li>
                  <li><span id="facility-Whiteboard">Whiteboard</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-Chalkboard">Chalkboard</span></li>
                  <li><span id="facility-Visualiser">Visualiser</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                      id="facility-OHP">OverHead Projector</span></li>
                  <li><span id="facility-Plasma">Plasma Screen</span></li>
                  <li><span id="facility-ReVIEW">ReVIEW Capture</span></li>
                  <li><span id="facility-Lab">Laboratory</span></li>
                </ul>
              </div>
              <div class="section" id="form-suitable-rooms">
                <h2 class="mt0">Suitable Rooms <span id="form-numRooms"></span></h2>
                <select size="12" class="form-control select_width" id="form-roomSelection"></select>
              </div>
            </form>
          </div>
      </div>

      <div class="selected-room-container card-container">
        <!-- Tab panes -->
        <div class="roomSearch-header roomSearch-header-bottomBorder">
		    <span id="roomSearch-booking">Selected Room</span>
        </div>
        <form class="form-inline mo_info">

        </form>
        <!-- SELECTED ROOM SECTION -->
		    <div id='selected-room'>

          <!-- ROOM INFO -->
          <div id='room-info'>
            <div id="wdytknbt">
              <div>
                <label>Room Code:</label>
                <input type="text" id="form-booking-roomCode" class="form-control roomcode ui-autocomplete-input" name="name" autocomplete="off">
                <label id="form-booking-roomName" class="full">No Room Selected</label>
              </div>
            </div>
            <div id="room-faclist">
              <label>Facilities:</label>
              <ul>
              
              </ul>
            </div>
            <div id="semester-container">
              <div class="form-group">
                <label>Semester:</label>
                <select class="form-dropdown-medium" id="select-semester">
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div> 

          <!-- MAP -->
          <div id="googleMap"></div>

		    </div>
		
            <br/>
		

        <!-- JQuery Message Popup Dialog -->
        <div class="messagepop pop" style="margin-top:400px;">
          <b>Information for a booked timetable slot.</b><br/><br/><br/><br/><br/>
          <p></p>
          <p class='close'>Close</p>
        </div>

        <!-- TIMETABLE -->
        <div id="timetable-container">
          <table class="timetable-table">
            <tr class="timetable-row1-headings">
              <td class="timetable-col1-name"></td>
              <td class="timetable-col2-period1">09:00-10:00</td>
              <td class="timetable-col3-period2">10:00-11:00</td>
              <td class="timetable-col4-period3">11:00-12:00</td>
              <td class="timetable-col5-period4">12:00-13:00</td>
              <td class="timetable-col6-period5">13:00-14:00</td>
              <td class="timetable-col7-period6">14:00-15:00</td>
              <td class="timetable-col8-period7">15:00-16:00</td>
              <td class="timetable-col9-period8">16:00-17:00</td>
              <td class="timetable-col10-period9">17:00-18:00</td>
            </tr>
            <tr class="timetable-row2-monday">
              <td class="timetable-col1-name">Monday</td>
              <td class="timetable-col2-period1 timetable-data"></td>
              <td class="timetable-col3-period2 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col4-period3 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col5-period4 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col6-period5 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col7-period6 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col8-period7 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col9-period8 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col10-period9 timetable-data"><div class="timetable-content-empty"></div></td>
            </tr>
            <tr class="timetable-row3-tuesday">
              <td class="timetable-col1-name">Tuesday</td>
              <td class="timetable-col2-period1 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col3-period2 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col4-period3 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col5-period4 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col6-period5 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col7-period6 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col8-period7 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col9-period8 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col10-period9 timetable-data"><div class="timetable-content-empty"></div></td>
            </tr>
            <tr class="timetable-row4-wednesday">
              <td class="timetable-col1-name">Wednesday</td>
              <td class="timetable-col2-period1 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col3-period2 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col4-period3 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col5-period4 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col6-period5 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col7-period6 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col8-period7 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col9-period8 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col10-period9 timetable-data"><div class="timetable-content-empty"></div></td>
            </tr>
            <tr class="timetable-row5-thursday">
              <td class="timetable-col1-name">Thursday</td>
              <td class="timetable-col2-period1 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col3-period2 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col4-period3 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col5-period4 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col6-period5 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col7-period6 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col8-period7 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col9-period8 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col10-period9 timetable-data"><div class="timetable-content-empty"></div></td>
            </tr>
            <tr class="timetable-row6-friday">
              <td class="timetable-col1-name">Friday</td>
              <td class="timetable-col2-period1 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col3-period2 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col4-period3 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col5-period4 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col6-period5 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col7-period6 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col8-period7 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col9-period8 timetable-data"><div class="timetable-content-empty"></div></td>
              <td class="timetable-col10-period9 timetable-data"><div class="timetable-content-empty"></div></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="private-room-container card-container">
        <h2 id="manage-private-title">Manage private rooms</h2>

        <div id="create-private-section">
          <div class="private-section-header">Create a private room</div>
          <br/>
          <span class="form-label">Department Code:</span>
          <input type='text' placeholder='e.g. CO' id='mod-depcode' class="form-control" disabled="disabled" value='@Session["dept-code"]' />
          <br/><br/>
          <span class="form-label">Building:</span>
          <input type='text' placeholder='e.g. N - Haslegrave' id='private-building' class="form-control" />
          <br/><br/>
          <span class="form-label">Room Code:</span>
          <input type='text' placeholder='e.g. N.0.03' id='private-roomcode' class="form-control" />
          <br/><br/>
          <span class="form-label">Capacity:</span>
          <input type='text' placeholder='e.g. 60' id='private-capacity' class="form-control" />
          <br/><br/>
          <span class="form-label">Facilities:</span>
          <div class="section" id="fac-list-priv">
            <ul id="select-facilities" class="fac_list">
              <li><span id="private-PASystem" class="list-activeFacility">PA System</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-RadioMic" class="list-activeFacility">Radio Mic</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-Wheelchair">Wheelchair Access</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-Computer" class="list-activeFacility">Computer</span></li>
              <li><span id="private-Projector" class="list-activeFacility">Projector</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-DualProjector">Dual Projector</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-InductionLoop">Induction Loop</span></li>
              <li><span id="private-DVD">DVD Player</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-BluRay">BluRay</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-VHS">VHS</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-Whiteboard" class="list-activeFacility">Whiteboard</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-Chalkboard">Chalkboard</span></li>
              <li><span id="private-Visualiser">Visualiser</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span
                  id="private-OHP">OverHead Projector</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-Plasma">Plasma Screen</span></li>
              <li><span id="private-ReVIEW">ReVIEW Capture</span></li>
              <li> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="private-Lab">Laboratory</span></li>
            </ul>
          </div>
          <br/><br/>
          <button id='create-priv' class='btn ok'>CREATE</button>
        </div>

        <div id="delete-private-section" style="float:right;">
          <div class="private-section-header">Delete a private room</div>
          <br/>
          <span class="form-label">Select a room:</span>
          <select size="6" class="form-control" id="form-roomSelectionPriv">
            <option>There are no private rooms to display</option>
          </select>
          <br/><br/><br/>
          <span class="form-label">Selected room:</span>
          <input type='text' id='selected-priv-room' class="form-control" disabled="disabled" value='No room selected' />
          <br/><br/>
          <button id='delete-priv' class='btn ok'>DELETE</button>
        </div>
      </div>

    </div>
  </body>
</html>
