/*
Timetabling Prototype Website
Module info page's stylesheet
Used for moduleinfo page styles ONLY
*/

/* 
Frequent colours:
off-white background: #FAFAFA;
LU dark purple: #361163;
*/

#page-content-container {
  width:1170px; 
  margin:auto; 
  height:auto; 
  overflow:hidden;
  padding:40px;
  margin-top: 110px;
}
/*
Timetabling Prototype Website
Module manager page's stylesheet
Used for modulemanager page styles ONLY
*/

/* 
Frequent colours:
off-white background: #FAFAFA;
LU dark purple: #361163;
*/


/* FORM CHANGES */
#createmodule-container {
  margin-top:30px;
  align-content: center;
}
#editdeletemodule-container {
  margin-top:20px;
  margin-bottom: 15px;
}
.form-label {
  margin-right:15px;
}
.form-cont{
  position: relative;
  width: 100%;
  display: inline-block;
}
.form-cont div{
  margin:20px;
  display: inline-block;
  width:45%
}
.form-cont div label{
  width: 160px;
}
.search-cont{
  position: relative;
  padding: 5px;
  margin: 5px;
  padding-left: 0px;
  margin-left: 0px;
}
.search-cont select{
  border:1px solid #ccc;
  padding: 5px 8px;
}
.btn{
  padding: 5px 8px;
  background: #ccc;
  border:#0c0;
  color: #fff;
}
.btn.ok{
  background-color: #60ac48;  
}
.btn.del{
  background-color: #dc2827;
}
.mod-mng-list div{
  border:1px solid #ccc;
  min-height: 150px;
  float: left;
  padding: 10px;
}
.mod-mng-list>div:first-child{
  width: 40%;
}
.mod-mng-list>div:last-child{
  width: 10%;
  text-align: center;
  margin-left: 20px;
}
.mul-sel{
  width: 100%;
  height: 100%;
  min-height: 150px;
}
#del-mod{
  position: relative;
  display: block;
  margin:0 auto;
}
#update-mod:hover,#del-mod:hover,#create-mod:hover {
  background-color:rgba(0,0,0,0.2);
  cursor:pointer;
  transition-duration:0.2s;
}
#mod-list option:hover {
  cursor:pointer;
  background-color: rgba(0,0,0,0.1);
}
.editmodule-blocks {
  vertical-align: top;
  align-content: center;
  height: 100%;
  display: inline-block;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
}
h3 {
    font-size: 200%;
}
#del-block{
  width:10%;
  margin-right: 0;
}
#upd-block{
  width: 45%;
  margin-left: 0;
  margin-right: 0;
}
#search-block{
  width: 100%;
  margin-left: 0;
}
.form-edit-input{
  margin:10px
}
.form-control{
    width:85%;
    padding:4px;
    position:relative;
    z-index:1000;
}
.radio-checks{
  /*margin-left: 25%;*/
}
.radio-views span {
  color:rgba(254,254,255,1);
  margin-left:6px;
  font-weight:700;
}
.form-group{
    margin-left:35%
}
#search-fields{
    width: 100%;
}
.search-section {
  padding:40px;
}
#Module-srch{
    width: 33%;
    display: inline-block;
    float:  left;
}
#Lecturer-srch{
    width: 33%;
    display: inline-block;
    float: left;
}
#Course-srch{ 
    width: 33%;
    display: inline-block;
    float: left;
}
.div-splitter{
    margin-left:0%; 
    width: 90%;
}
#dwnld-btn{
  padding: 5px 8px;
  background: #ccc;
  border:#0c0;
  color: #fff;
  background-color: #60ac48;
  margin-top: 1%;
  margin-left: 80%;
}
#search-fields h3 {
  font-size:1.25em;
}
.radio-views {
  background-color:#d51668;
  padding:5px 10px;
  border-radius:4px;
  width:70px;
}
.radio-views:hover {
  cursor: pointer;
  background-color:#C22568;
  transition-duration:0.2s;
}
#semester-holder {
  margin-bottom: 40px;
  margin-left: 40%;
  margin-right: auto;
  position: relative;
  z-index: 900;
  top: 40px;
  width: 20%;
}
#timetable-container {
  margin:20px 0;
}

#timetable-note {
  margin-top:20px;
  margin-left:40px;
}
#timetable-note-type {

}
#timetable-note-value {
  font-weight:700;
}
td.timetable-taken:hover {
  cursor:pointer;
  background-color:#ff7878;
}
.timetable-data:hover {
  cursor:default;
  background-color:white;
}
#download-button-text {
  text-align:right;
  margin-right:40px;
  margin-bottom:30px;
  margin-top:-10px;
  font-weight:700;
  color: #d51668;
  padding: 5px 0;
}
#download-button-text:hover {
  transition-duration:0.2s;
  cursor:pointer;
  color:#96124B;
}
#download-button-text i {
  margin-right: 10px;
}